<div>
  <div *ngIf='!completeSignup'>
    <form *ngIf='!loading' [formGroup]='signUp' (keydown.enter)='submit()' class='forms'>
      <div class='row' id='signUp'>
        <div class="col-sm">
          <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert" *ngIf="invalidEmail">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="far fa-times-circle fa-lg"></i>
            </button>
            <p>Já existe um usuário com esse endereço de email!
              <strong>Gostaria de acessar a plataforma?</strong>
            </p>
          </div>
          <div class='col-12'>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend desktop">
                  <div class="input-group-text">
                    <i class="fas fa-user"></i>Nome Completo
                  </div>
                </div>
                <!-- desktop -->
                <input type="text" class="form-control desktop" placeholder="Como é pra gente te chamar?" [(ngModel)]="user.fullname" formControlName="fullname"
                  name="fullname" required>

                <!-- mobile -->
                <i class="fas fa-user mobile mobile-icon"></i>
                <input type="text" class="form-control mobile" placeholder="Nome completo" [(ngModel)]="user.fullname" formControlName="fullname"
                  name="fullname" required>
                <div class="valid-feedback">
                  <i class="fas fa-check"></i>
                </div>
                <div *ngIf="isValid('fullname')" class='error-message'>
                  Preencha com o seu nome.
                </div>
              </div>
            </div>
          </div>

          <div class='col-12'>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend desktop">
                  <div class="input-group-text">
                    <i class="fas fa-mobile-alt"></i>Celular
                  </div>
                </div>
                <!-- desktop -->
                <input type="tel" class="form-control desktop" placeholder="Vamos falar com você por aqui!" mask="(00) 0000-00009" (blur)="checkPhone()"
                  [(ngModel)]="user.cellphone" formControlName="cellphone" name="cellphone" required>

                <!-- mobile -->
                <i class="fas fa-mobile-alt mobile mobile-icon"></i>
                <input type="tel" class="form-control mobile" placeholder="Celular" mask="(00) 0000-00009" (blur)="checkPhone()" [(ngModel)]="user.cellphone"
                  formControlName="cellphone" name="cellphone" required>
                <div class="valid-feedback">
                  <i class="fas fa-check"></i>
                </div>
                <div *ngIf="invalidPhone || isValid('cellphone')" class='error-message'>
                  Por favor, digite um número de celular válido.
                </div>
              </div>
            </div>
          </div>

          <div class='col-12'>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend desktop">
                  <div class="input-group-text">
                    <i class="fas fa-envelope"></i>E-mail
                  </div>
                </div>
                <!-- desktop -->
                <input type="email" class="form-control desktop" placeholder="Relaxa, nós também não gostamos de spam" [(ngModel)]="user.email"
                  formControlName="email" name="email" required>

                <!-- mobile -->
                <i class="fas fa-envelope mobile mobile-icon"></i>
                <input type="email" class="form-control mobile" placeholder="E-mail" (blur)="checkEmail()" [(ngModel)]="user.email" formControlName="email"
                  name="email" required>
                <div class="valid-feedback">
                  <i class="fas fa-check"></i>
                </div>
                <div *ngIf="isValid('email')" class='error-message'>
                  Preencha com o seu email.
                </div>
              </div>
            </div>
          </div>

          <div class='col-12'>
            <div class="form-group city">
              <div class="input-group select-dropdown">
                <div class="input-group-prepend desktop">
                  <div class="input-group-text">
                    <i class="fas fa-map-marker-alt"></i>Cidade</div>
                </div>
                <i class="fas fa-map-marker-alt mobile mobile-icon"></i>
                <div class="dropdown">
                  <div class="styled-select">
                    <p-autoComplete [(ngModel)]="user.city" [suggestions]="filteredCities" (completeMethod)="searchCities($event)"
                      #citiesAutocomplete (onFocus)="selectInput('city');citiesAutocomplete.handleDropdownClick();"
                      dropdownMode="current" field="name" formControlName="city" emptyMessage="Nenhum resultado"
                      placeholder="¿Donde vives?"></p-autoComplete>
                    <i class="fas fa-times autocomplete-clear-btn" (click)="clearField('city')" *ngIf="user.city"></i>
                  </div>
                </div>
              </div>
              <div *ngIf="isValid('city')" class='error-message'>
                Complete con su ciudad de residencia
              </div>
            </div>
          </div>

          <div class='col-12'>
            <div class="form-group referral_type">
              <div class="input-group select-dropdown">
                <div class="input-group-prepend desktop">
                  <div class="input-group-text">
                    <i class="fas fa-map-marker-alt"></i>¿Cómo te enteraste de este programa?</div>
                </div>
                <i class="fas fa-map-marker-alt mobile mobile-icon"></i>
                <div class="dropdown">
                  <div class="styled-select">
                    <p-autoComplete [(ngModel)]="user.referral_type" [suggestions]="filteredReferrals" [field]="'name'" (completeMethod)="searchReferrals($event)"
                      #referralsAutocomplete (onFocus)="selectInput('referral_type');referralsAutocomplete.handleDropdownClick();"
                      dropdownMode="current" field="referral_type" formControlName="referral_type" emptyMessage="Nenhum resultado"
                      placeholder="Indicanos cómo llegaste a Casas Globales"></p-autoComplete>
                    <i class="fas fa-times autocomplete-clear-btn" (click)="clearField('referral_type')" *ngIf="user.referral_type"></i>
                  </div>
                </div>
              </div>
              <div *ngIf="isValid('referral_type')" class='error-message'>
                Seleccione una opción
              </div>
            </div>
          </div>

          <div id="content-terms" style='width: 100%;'>
            <div class="form-group form-check text-center checkbox">
              <input type="checkbox" class="form-check-input" [checked]="user.agreed" id="agreed" [(ngModel)]="user.agreed"
                 formControlName="agreed" name="agreed">
              <label class="form-check-label" for="agreed"> Comprendo que el programa es totalmente voluntario.</label>
            </div>            
            <div class='col-sm-12'>
              <button type="button" (click)="submit()" [ngClass]='{"not-allowed": unableToSubmit(), "submit-form": true }'
                [disabled]='unableToSubmit()'>
                Inscribite
                <i class="fab fa-telegram-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class='loading-content' *ngIf='loading'>
      <div class='loading'>
      </div>
    </div>
  </div>
  <div *ngIf='completeSignup'>
    <app-form-host-thank-you></app-form-host-thank-you>
  </div>
</div>